.App-Navigation {
  padding-top: 2rem;
}

nav {
  display: flex;
  align-items: center;
}

.App-Logo {
  padding-left: 3rem;
  width: 9.25rem;
  height: 2.25rem;
}

.App-Navigation-List li{
  display: inline-block;
  list-style-type: none;
  padding-right: 2rem;
}

.App-Navigation-List a{
  text-decoration: none;
  font-weight: bold;
  color: #676e67;
}

.App-Navigation-List a:hover{
  color: white;
}